@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@include breakpoint(xsmall) {
	html,
	body {
		min-width: 320px;
	}
}

body,
.body {
	background-color: _palette(bg);
	
	 #{_palette(bg1)}: 15%, #{_palette(bg2) 85%}
	

	}