#nav {
	@include vendor(
		"transition",
		(
			"background-color #{_duration(transition)} ease",
			"border-top-left-radius #{_duration(transition)} ease",
			"border-top-right-radius #{_duration(transition)} ease",
			"padding #{_duration(transition)} ease"
		)
	);
	// @include color-typography(invert);
	color: rgb(0, 203, 121);
	position: absolute;
	width: _size(inner);
	max-width: calc(100% - #{_size(element-margin) * 2});
	padding: 1.5em;
	background-color: #fcf7ff;
	border-top-left-radius: _size(border-radius-main);
	border-top-right-radius: _size(border-radius-main);
	cursor: default;
	text-align: center;
	box-shadow: 5px 15px 10px -5px rgba(23, 75, 119, 0.3);

	& + #main {
		padding-top: 3em;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			@include vendor("transition", ("margin #{_duration(transition)} ease"));
			display: inline-block;
			margin: 0 2em;
			padding: 0;
			vertical-align: middle;

			border-radius: _size(border-radius);

			a {
				@include vendor("transition", ("font-size #{_duration(transition)} ease"));
				box-shadow: 4px 5px 4px -2px rgba(23, 75, 119, 0.3);
				background-color: #fcf7ff;
				display: inline-block;
				height: 2.25em;
				line-height: 2.25em;
				padding: 0 1.25em;
				border: 0;
				border-radius: _size(border-radius);

				&:hover {
					color: white;
					box-shadow: none;
					background-color: rgb(153, 189, 219);
					transition: ease-in-out 0.5s;
				}

				&.active {
					box-shadow: none;
				}
			}
			&.is-active {
				a {
					color: white;
					background-color: #6f91aa;
					box-shadow: none;
				}
			}
		}
	}
	// after navbar has responded to scroll
	&.alt {
		box-shadow: 5px 15px 10px -5px rgba(23, 75, 119, 0.3);

		position: fixed;
		top: 0;
		padding: 1em 1em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		z-index: _misc(z-index-base);

		ul {
			li {
				margin: 0 2em;

				a {
					font-size: 0.9em;
				}
			}
		}
	}

	@include breakpoint(small) {
		display: none;

		& + #main {
			padding-top: 0;
		}
	}
}
